#delete-button {
    width: 5vw;
    height: 30%;
    border: transparent;
    background: linear-gradient(rgb(120, 147, 170),rgb(120, 147, 206));
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 3%;
}