header {
    height: 10vh;
    width: 100%;
    background: linear-gradient(gray,rgb(151, 151, 151),rgb(182, 182, 182),transparent);
    font-family: 'Roboto',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}